.main{:role => "main"}
  #content.content.full
    .slider-container
      #revolutionSlider.slider
        %ul
          %li{"data-masterspeed" => "300", "data-slotamount" => "13", "data-transition" => "fade"}
            %img{"data-bgfit" => "cover", "data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", :src => "assets/slides/slide-bg.jpg"}
              .tp-caption.sft.stb.visible-lg{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1000", "data-x" => "72", "data-y" => "180"}
                %img{:alt => "", :src => "assets/slides/slide-title-border.png"}/
              .tp-caption.top-label.lfl.stl{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "500", "data-x" => "122", "data-y" => "180"} DO YOU NEED A NEW
              .tp-caption.sft.stb.visible-lg{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1000", "data-x" => "372", "data-y" => "180"}
                %img{:alt => "", :src => "assets/slides/slide-title-border.png"}/
              .tp-caption.main-label.sft.stb{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1500", "data-x" => "30", "data-y" => "210"} WEB DESIGN?
              .tp-caption.bottom-label.sft.stb{"data-easing" => "easeOutExpo", "data-speed" => "500", "data-start" => "2000", "data-x" => "80", "data-y" => "280"} Check out our options and features.
              .tp-caption.randomrotate{"data-easing" => "easeOutBack", "data-speed" => "500", "data-start" => "2500", "data-x" => "800", "data-y" => "248"}
                %img{:alt => "", :src => "assets/slides/slide-concept-2-1.png"}/
              .tp-caption.sfb{"data-easing" => "easeOutBack", "data-speed" => "400", "data-start" => "3000", "data-x" => "850", "data-y" => "200"}
                %img{:alt => "", :src => "assets/slides/slide-concept-2-2.png"}/
              .tp-caption.sfb{"data-easing" => "easeOutBack", "data-speed" => "700", "data-start" => "3150", "data-x" => "820", "data-y" => "170"}
                %img{:alt => "", :src => "assets/slides/slide-concept-2-3.png"}/
              .tp-caption.sfb{"data-easing" => "easeOutBack", "data-speed" => "1000", "data-start" => "3250", "data-x" => "770", "data-y" => "130"}
                %img{:alt => "", :src => "assets/slides/slide-concept-2-4.png"}/
              .tp-caption.sfb{"data-easing" => "easeOutExpo", "data-speed" => "600", "data-start" => "3450", "data-x" => "500", "data-y" => "80"}
                %img{:alt => "", :src => "assets/slides/slide-concept-2-5.png"}/
              .tp-caption.blackboard-text.lfb{"data-easing" => "easeOutExpo", "data-speed" => "500", "data-start" => "3450", "data-x" => "530", "data-y" => "300", :style => "font-size: 37px;"} Think
              .tp-caption.blackboard-text.lfb{"data-easing" => "easeOutExpo", "data-speed" => "500", "data-start" => "3650", "data-x" => "555", "data-y" => "350", :style => "font-size: 47px;"} Outside
              .tp-caption.blackboard-text.lfb{"data-easing" => "easeOutExpo", "data-speed" => "500", "data-start" => "3850", "data-x" => "580", "data-y" => "400", :style => "font-size: 32px;"} The box :)
          %li{"data-masterspeed" => "1000", "data-slotamount" => "5", "data-transition" => "fade"}
            %img{"data-bgfit" => "cover", "data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", :src => "assets/slides/slide-bg.jpg"}
              .tp-caption.fade{"data-easing" => "easeOutExpo", "data-speed" => "1500", "data-start" => "500", "data-x" => "50", "data-y" => "100"}
                %img{:alt => "", :src => "assets/slides/slide-concept.png"}/
              .tp-caption.blackboard-text.fade{"data-easing" => "easeOutExpo", "data-speed" => "1500", "data-start" => "1000", "data-x" => "180", "data-y" => "180", :style => "font-size: 30px;"} easy to
              .tp-caption.blackboard-text.fade{"data-easing" => "easeOutExpo", "data-speed" => "1500", "data-start" => "1200", "data-x" => "180", "data-y" => "220", :style => "font-size: 40px;"} customize!
              .tp-caption.main-label.sft.stb{"data-easing" => "easeOutExpo", "data-speed" => "300", "data-start" => "1500", "data-x" => "580", "data-y" => "190"} DESIGN IT!
              .tp-caption.bottom-label.sft.stb{"data-easing" => "easeOutExpo", "data-speed" => "500", "data-start" => "2000", "data-x" => "580", "data-y" => "250"} Create slides with brushes and fonts.
    .home-intro
      .container
        .row
          .col-md-8
            %p
              The fastest way to grow your business with the leader in
              %em Technology.
              %span Check out our options and features included.
          .col-md-4
            .get-started
              %a.btn.btn-lg.btn-primary{:href => "#"} Get Started Now!
              .learn-more
                or
                %a{:href => "index.html"} learn more.
    .container
      .row.center
        .col-md-12
          %h2.short.word-rotator-title
            Porto is
            %strong.inverted
              %span.word-rotate
                %span.word-rotate-items
                  %span incredibly
                  %span especially
                  %span extremely
            beautiful and fully responsive.
          %p.featured.lead
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
    .home-concept
      .container
        .row.center
          %span.sun
          %span.cloud
          .col-md-2.col-md-offset-1
            .process-image{"data-appear-animation" => "bounceIn"}
              %img{:alt => "", :src => "assets/home-concept-item-1.png"}/
              %strong Strategy
          .col-md-2
            .process-image{"data-appear-animation" => "bounceIn", "data-appear-animation-delay" => "200"}
              %img{:alt => "", :src => "assets/home-concept-item-2.png"}/
              %strong Planning
          .col-md-2
            .process-image{"data-appear-animation" => "bounceIn", "data-appear-animation-delay" => "400"}
              %img{:alt => "", :src => "assets/home-concept-item-3.png"}/
              %strong Build
          .col-md-4.col-md-offset-1
            .project-image
              #fcSlideshow.fc-slideshow
                %ul.fc-slides
                  %li
                    %a{:href => "portfolio-single-project.html"}
                      %img.img-responsive{:src => "assets/projects/project-home-1.jpg"}/
                  %li
                    %a{:href => "portfolio-single-project.html"}
                      %img.img-responsive{:src => "assets/projects/project-home-2.jpg"}/
                  %li
                    %a{:href => "portfolio-single-project.html"}
                      %img.img-responsive{:src => "assets/projects/project-home-3.jpg"}/
              %strong.our-work Our Work
    .container
      .row
        %hr.tall/
    .container
      .row
        .col-md-8
          %h2
            Our
            %strong Features
          .row
            .col-md-6
              .feature-box
                .feature-box-icon
                  %i.icon.icon-group
                .feature-box-info
                  %h4.shorter Customer Support
                  %p.tall Lorem ipsum dolor sit amet, consectetur adip.
              .feature-box
                .feature-box-icon
                  %i.icon.icon-file
                .feature-box-info
                  %h4.shorter HTML5 / CSS3 / JS
                  %p.tall Lorem ipsum dolor sit amet, adip.
              .feature-box
                .feature-box-icon
                  %i.icon.icon-google-plus
                .feature-box-info
                  %h4.shorter 500+ Google Fonts
                  %p.tall Lorem ipsum dolor sit amet, consectetur adip.
              .feature-box
                .feature-box-icon
                  %i.icon.icon-adjust
                .feature-box-info
                  %h4.shorter Colors
                  %p.tall Lorem ipsum dolor sit amet, consectetur adip.
            .col-md-6
              .feature-box
                .feature-box-icon
                  %i.icon.icon-film
                .feature-box-info
                  %h4.shorter Sliders
                  %p.tall Lorem ipsum dolor sit amet, consectetur.
              .feature-box
                .feature-box-icon
                  %i.image-icon.small.user
                .feature-box-info
                  %h4.shorter Icons
                  %p.tall Lorem ipsum dolor sit amet, consectetur adip.
              .feature-box
                .feature-box-icon
                  %i.icon.icon-bars
                .feature-box-info
                  %h4.shorter Buttons
                  %p.tall Lorem ipsum dolor sit, consectetur adip.
              .feature-box
                .feature-box-icon
                  %i.icon.icon-desktop
                .feature-box-info
                  %h4.shorter Lightbox
                  %p.tall Lorem sit amet, consectetur adip.
        .col-md-4
          %h2 and more...
          #accordion.panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
                    %i.icon.icon-usd
                    Pricing Tables
              #collapseOne.accordion-body.collapse.in
                .panel-body
                  Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                    %i.icon.icon-comment
                    Contact Forms
              #collapseTwo.accordion-body.collapse
                .panel-body
                  Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                    %i.icon.icon-laptop
                    Portfolio Pages
              #collapseThree.accordion-body.collapse
                .panel-body
                  Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
      %hr.tall/
      .row.center
        .col-md-12
          %h2.short.word-rotator-title
            We're not the only ones
            %strong
              %span.word-rotate
                %span.word-rotate-items
                  %span excited
                  %span happy
            about Porto Template...
          %h4.lead.tall 5,500 customers in 100 countries use Porto Template. Meet our customers.
      .row.center
        .owl-carousel{"data-plugin-options" => "{\"items\": 6, \"singleItem\": false, \"autoPlay\": true}"}
          %div
            %img.img-responsive{:alt => "", :src => "assets/logos/logo-1.png"}
          %div
            %img.img-responsive{:alt => "", :src => "assets/logos/logo-2.png"}
          %div
            %img.img-responsive{:alt => "", :src => "assets/logos/logo-3.png"}
          %div
            %img.img-responsive{:alt => "", :src => "assets/logos/logo-4.png"}
          %div
            %img.img-responsive{:alt => "", :src => "assets/logos/logo-5.png"}
          %div
            %img.img-responsive{:alt => "", :src => "assets/logos/logo-6.png"}
          %div
            %img.img-responsive{:alt => "", :src => "assets/logos/logo-4.png"}
          %div
            %img.img-responsive{:alt => "", :src => "assets/logos/logo-2.png"}
    .map-section
      %section.featured.footer.map
        .container
          .row
            .col-md-6
              .recent-posts.push-bottom
                %h2
                  Latest
                  %strong Blog
                  Posts
                .row
                  .owl-carousel{"data-plugin-options" => "{\"items\": 1, \"autoHeight\": true}"}
                    %div
                      .col-md-6
                        %article
                          .date
                            %span.day 15
                            %span.month Jan
                          %h4
                            %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.
                            %a.read-more{:href => "/"}
                              read more
                              %i.icon.icon-angle-right
                      .col-md-6
                        %article
                          .date
                            %span.day 15
                            %span.month Jan
                          %h4
                            %a{:href => "blog-post.html"} Lorem ipsum dolor
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                            %a.read-more{:href => "/"}
                              read more
                              %i.icon.icon-angle-right
                    %div
                      .col-md-6
                        %article
                          .date
                            %span.day 12
                            %span.month Jan
                          %h4
                            %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.
                            %a.read-more{:href => "/"}
                              read more
                              %i.icon.icon-angle-right
                      .col-md-6
                        %article
                          .date
                            %span.day 11
                            %span.month Jan
                          %h4
                            %a{:href => "blog-post.html"} Lorem ipsum dolor
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            %a.read-more{:href => "/"}
                              read more
                              %i.icon.icon-angle-right
                    %div
                      .col-md-6
                        %article
                          .date
                            %span.day 15
                            %span.month Jan
                          %h4
                            %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero.
                            %a.read-more{:href => "/"}
                              read more
                              %i.icon.icon-angle-right
                      .col-md-6
                        %article
                          .date
                            %span.day 15
                            %span.month Jan
                          %h4
                            %a{:href => "blog-post.html"} Lorem ipsum dolor
                          %p
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
                            %a.read-more{:href => "/"}
                              read more
                              %i.icon.icon-angle-right
            .col-md-6
              %h2
                %strong What
                Client’s Say
              .row
                .owl-carousel.push-bottom{"data-plugin-options" => "{\"items\": 1, \"autoHeight\": true}"}
                  %div
                    .col-md-12
                      %blockquote.testimonial
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.
                      .testimonial-arrow-down
                      .testimonial-author
                        .img-thumbnail.img-thumbnail-small
                          %img{:alt => "", :src => "assets/clients/client-1.jpg"}
                        %p
                          %strong John Smith
                          %span CEO & Founder - Okler
                  %div
                    .col-md-12
                      %blockquote.testimonial
                        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      .testimonial-arrow-down
                      .testimonial-author
                        .img-thumbnail.img-thumbnail-small
                          %img{:alt => "", :src => "assets/clients/client-1.jpg"}
                        %p
                          %strong John Smith
                          %span CEO & Founder - Okler