%footer#footer
  .container
    .row
      .footer-ribon
        %span Keep in Touch Of Death
      .col-md-3
        .newsletter
          %h4 Newsletter
          %p Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.
          #newsletterSuccess.alert.alert-success.hidden
            %strong Success!
            You've been added to our email list.
          #newsletterError.alert.alert-danger.hidden
          %form#newsletterForm{:action => "php/newsletter-subscribe.php", :method => "POST"}
            .input-group
              %input#email.form-control{:name => "email", :placeholder => "Email Address", :type => "text"}
                %span.input-group-btn
                  %button.btn.btn-default{:type => "submit"} Go!
      .col-md-3
        %h4 Feature Your Gym
        #tweet.twitter{"data-account-id" => ""}
          %p Interesting in adding your Gym? 
          %p Contact us for a quote.
      .col-md-4
        .contact-details
          %h4 Contact Us
          %ul.contact
            %li
              %p
                = fa_icon "map-marker fw"
                %strong Address:

            %li
              %p
                = fa_icon "phone fw"
                %strong Phone:
                (909) 556-3532
            %li
              %p
                = fa_icon "envelope fw"
                %strong Email:
                %a{:href => "mailto:info@mmagymsincalifornia.com"} info@mmagymsincalifornia.com
      .col-md-2
        %h4 Follow Us
        .social-icons
          %ul.social-icons
            %li.facebook
              %a{"data-placement" => "bottom", :href => "http://www.facebook.com/", :rel => "tooltip", :target => "_blank", :title => "Facebook"} Facebook
            %li.twitter
              %a{"data-placement" => "bottom", :href => "http://www.twitter.com/", :rel => "tooltip", :target => "_blank", :title => "Twitter"} Twitter
            %li.linkedin
              %a{"data-placement" => "bottom", :href => "http://www.linkedin.com/", :rel => "tooltip", :target => "_blank", :title => "Linkedin"} Linkedin
  .footer-copyright
    .container
      .row
        .col-md-12
        %div{:align => "center"}
          %p © Copyright 2015. All Rights Reserved.