/ Libs
%script{:src => "vendor/jquery.js"}
%script{:src => "js/plugins.js"}
%script{:src => "vendor/jquery.easing.js"}
%script{:src => "vendor/jquery.appear.js"}
%script{:src => "vendor/jquery.cookie.js"}
%script{:src => "vendor/bootstrap.js"}
%script{:src => "vendor/twitterjs/twitter.js"}
%script{:src => "vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"}
%script{:src => "vendor/rs-plugin/js/jquery.themepunch.revolution.js"}
%script{:src => "vendor/owl-carousel/owl.carousel.js"}
%script{:src => "vendor/circle-flip-slideshow/js/jquery.flipshow.js"}
%script{:src => "vendor/magnific-popup/magnific-popup.js"}
%script{:src => "vendor/jquery.validate.js"}
/ Current Page Scripts
%script{:src => "js/views/view.home.js"}
/ Theme Initializer
%script{:src => "js/theme.js"}
/ Custom JS
%script{:src => "js/custom.js"}