/ Libs
%script{:src => "/assets/vendor/jquery.js"}
%script{:src => "/assets/javascripts/plugins.js"}
%script{:src => "/assets/vendor/javascripts/jquery.easing.js"}
%script{:src => "/assets/vendor/javascripts/jquery.appear.js"}
%script{:src => "/assets/vendor/javascripts/jquery.cookie.js"}
%script{:src => "/assets/vendor/javascripts/bootstrap.js"}
%script{:src => "/assets/vendor/twitterjs/twitter.js"}
%script{:src => "/assets/vendor/rs-plugin/js/jquery.themepunch.plugins.min.js"}
%script{:src => "/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.js"}
%script{:src => "/assets/vendor/owl-carousel/owl.carousel.js"}
%script{:src => "/assets/vendor/circle-flip-slideshow/js/jquery.flipshow.js"}
%script{:src => "/assets/vendor/magnific-popup/magnific-popup.js"}
%script{:src => "/assets/vendor/jquery.validate.js"}
/ Current Page Scripts
%script{:src => "/assets/javascripts/views/view.home.js"}
/ Theme Initializer
%script{:src => "/assets/javascripts/theme.js"}
